<!-- Stock Section -->
<h4>Stock Information</h4>
<div class="row">
  <!-- Size Dropdown -->
  <div class="col-md-4 mb-3">
    <label for="stockSize" class="form-label">Size</label>




    
    <select class="form-control" id="stockSize" name="stockSize">
      <% const sizes = ['XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL', 'XXS'];
         const sizeLabels = {
           'XS': 'XS (Extra Small)',
           'S': 'S (Small)',
           'M': 'M (Medium)',
           'L': 'L (Large)',
           'XL': 'XL (Extra Large)',
           'XXL': 'XXL (Double Extra Large)',
           'XXXL': 'XXXL (Triple Extra Large)',
           'XXS': 'XXS (Double Extra Small)'
         };
         sizes.forEach(size => { %>
           <option value="<%= size %>" <%= product.stock[0].size === size ? 'selected' : '' %>>
             <%= sizeLabels[size] %>
           </option>
      <% }); %>
    </select>