<main class="login-page-body">
  <div class="login-model">
    <div class="container">
      <!-- breadcrumbs -->

      <h2 class="text-center">Category Manager</h2>

      <form method="POST" action="/admin/add-product">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Main Category</th>
              <th scope="col">Sub Categories</th>
            </tr>
          </thead>
        
          <tbody>
            <% if(typeof categories !== 'undefined'){ %>
              <% categories.forEach((categoryItem) => { %>  <!-- Loop over each category -->
                <tr>
                  <td class="border">
                    <select
                      class="form-select"
                      size="10"
                      aria-label="size 3 select example"
                    >
                      <option class="p-1" value="<%= categoryItem.category %>"><%= categoryItem.category  %></option>
                    </select>
                  </td>
                  <td>
                    <table>
                      <!-- Loop over subCategories of the current categoryItem -->
                      <% categoryItem.subCategories.forEach((subCategory) => { %>
                        <tr><td><%= subCategory %></td></tr>
                      <% }) %>
                    </table>
                  </td>
                </tr>
              <% }) %>
            <% } %>
          </tbody>
        </table>
        
      </form>
    </div>




    <div class="navigate">
      <a class="signup-navigate-link" href="/admin/catalog">Back</a>
      <a class="signup-navigate-link" href="/admin/dashboard">Dashboard</a>
    </div>
  </div>
</main>

